{% extends "base.html" %}
{% block content %}
<h2>Calendario de Reservas</h2>
<div id="calendar"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth', // Vista mensual por defecto
            locale: 'es', // Idioma español
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: '/api/reservations' // Ruta para cargar eventos desde Flask
        });

        calendar.render();
    });
</script>
{% endblock %}
